In [33]:
import pandas as pd 
import os
from dotenv import load_dotenv
import berserk
pd.get_option("display.max_colwidth", 200) 
from datetime import datetime, date, timedelta
from dateutil.relativedelta import relativedelta

# load content of env
load_dotenv()

# load the token
lichess_token = os.getenv("my_token")

# using token 
session = berserk.TokenSession(lichess_token)
client = berserk.Client(session=session)

# get profile data from my personal account
#mydata = client.users.get_public_data("julioam")
#mydata_df = pd.json_normalize(mydata).transpose()
#print(mydata_df)

# history 
#myhistoy = client.users.get_rating_history("julioam")
#myhistoy_df = pd.json_normalize(myhistoy)
#print(myhistoy_df)

# top 10 
top10_players = client.users.get_all_top_10()
#pd.json_normalize(top10_players)

In [3]:
# top bullet 
top10_bullet = pd.json_normalize(top10_players, record_path="bullet").rename(columns={"perfs.bullet.rating" : "bullet_rating", "perfs.bullet.progress" : "bullet_progress"})
top10_bullet

,id,username,bullet_rating,bullet_progress,title,patron
0,chesswarrior31,Chesswarrior31,3301,21,NaN,NaN
1,nihalsarin2004,nihalsarin2004,3265,-11,GM,True
2,muisback,muisback,3248,14,GM,True
3,azzaro25,Azzaro25,3247,38,GM,NaN
4,rebeccaharris,RebeccaHarris,3239,-52,GM,True
5,zhigalko_sergei,Zhigalko_Sergei,3218,9,GM,True
6,watneg,Watneg,3195,12,GM,NaN
7,mutdpro,mutdpro,3191,-14,GM,NaN
8,ediz_gurel,Ediz_Gurel,3160,12,GM,NaN
9,arm-777777,ARM-777777,3160,30,GM,NaN

In [4]:
# top 10 blitz
top10_blitz = pd.json_normalize(top10_players, record_path="blitz").rename(columns={"perfs.blitz.rating" : "blitz_rating", "perfs.blitz.progress" : "blitz_progress"})
top10_blitz

,id,username,title,blitz_rating,blitz_progress,online
0,cutemouse83,cutemouse83,GM,3018,29,NaN
1,dr-cro,Dr-CRO,GM,2960,10,True
2,lintchevski_daniil,Lintchevski_Daniil,GM,2956,10,NaN
3,athena-pallada,athena-pallada,GM,2951,-3,NaN
4,may6enexttime,may6enexttime,GM,2941,-39,NaN
5,ck-king-2024,CK-king-2024,NaN,2914,15,NaN
6,vistagausta,vistagausta,NaN,2912,11,NaN
7,gsvc,gsvc,GM,2903,42,NaN
8,howardxue,HowardXue,NaN,2902,-13,NaN
9,silence404,silence404,NaN,2900,8,NaN

In [5]:
# top 10 rapid
top10_rapid = pd.json_normalize(top10_players, record_path="rapid").rename(columns={"perfs.rapid.rating" : "rapid_rating", "perfs.rapid.progress" : "rapid_progress"})
top10_rapid

,id,username,title,rapid_rating,rapid_progress,patron,online
0,drvitman,DrVitman,GM,2929,-21,NaN,NaN
1,mysterious_expert,mysterious_expert,IM,2814,0,True,NaN
2,roman_yanchenko,Roman_Yanchenko,FM,2804,27,NaN,NaN
3,tuzakli_egitim,Tuzakli_Egitim,FM,2764,-39,NaN,NaN
4,kurald_galain,Kurald_Galain,NaN,2757,6,NaN,True
5,savvavetokhin2009,SavvaVetokhin2009,IM,2751,-12,True,True
6,rakhmanov_aleksandr,Rakhmanov_Aleksandr,GM,2751,-38,True,NaN
7,jimmy0613,jimmy0613,FM,2746,-3,NaN,True
8,konnov_oleg,Konnov_Oleg,NaN,2740,14,NaN,NaN
9,aborigen100500,Aborigen100500,NM,2739,33,NaN,NaN

In [6]:
# top 10 classic 
top10_classic = pd.json_normalize(top10_players, record_path="classical").rename(columns={"perfs.classical.rating" : "classic_rating", "perfs.classical.progress" : "classic_progress"})
top10_classic

,id,username,title,classic_rating,classic_progress,online,patron
0,plemsovhoz,PlemSovhoz,IM,2598,-20,NaN,NaN
1,vlad_lazarev79,Vlad_Lazarev79,NaN,2476,23,NaN,NaN
2,kanake04,Kanake04,NaN,2475,13,NaN,NaN
3,ojaijoao,OjaiJoao,FM,2468,7,NaN,NaN
4,igormezentsev,igormezentsev,FM,2455,-9,True,NaN
5,anindianchessplayer,AnIndianChessplayer,CM,2439,42,NaN,NaN
6,kc6,kc6,IM,2439,15,True,True
7,likeyacutg,likeyacutg,NaN,2436,22,NaN,True
8,chesstheory64,ChessTheory64,FM,2433,46,NaN,True
9,teodorvasilov,TeodorVasilov,NaN,2429,-9,NaN,NaN

In [7]:
top10_ultrabullet = pd.json_normalize(top10_players, record_path="ultraBullet")
top10_ultrabullet

,id,username,title,patron,perfs.ultraBullet.rating,perfs.ultraBullet.progress,online
0,penguingim1,penguingim1,GM,True,2694,36,NaN
1,blazinq,Blazinq,FM,NaN,2602,39,NaN
2,anonymousblitz,anonymousblitz,NaN,NaN,2571,-10,NaN
3,liamputnam2008,LiamPutnam2008,FM,NaN,2558,39,NaN
4,dir07,dIr07,NaN,True,2551,-44,True
5,ediz_gurel,Ediz_Gurel,GM,NaN,2541,19,NaN
6,iamstraw,iamstraw,GM,NaN,2495,-19,NaN
7,maybe_maybe,maybe_maybe,IM,NaN,2489,11,NaN
8,tamojerry,tamojerry,FM,NaN,2479,-4,NaN
9,afanoffun,afanoffun,CM,True,2478,-19,True

In [8]:
# top 10 bullet detail data
top10_bullet_df = pd.DataFrame()
for i in top10_bullet["id"]:
    top10_bullet_df = pd.concat([top10_bullet_df, pd.json_normalize(client.users.get_public_data(i))], ignore_index=True)

top10_bullet_df.head()

,id,username,createdAt,seenAt,url,followable,following,blocking,followsYou,perfs.ultraBullet.games,...,profile.firstName,profile.lastName,streamer.youTube.channel,perfs.ultraBullet.prov,perfs.chess960.prov,profile.location,profile.fideRating,profile.links,profile.uscfRating,flair
0,chesswarrior31,Chesswarrior31,2022-05-10 02:44:21.027000+00:00,2024-06-24 11:17:16.491000+00:00,https://lichess.org/@/Chesswarrior31,True,False,False,False,5946.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,nihalsarin2004,nihalsarin2004,2017-09-17 17:12:08.682000+00:00,2024-06-24 10:01:48.215000+00:00,https://lichess.org/@/nihalsarin2004,True,False,False,False,16558.0,...,Nihal,Sarin,https://www.youtube.com/channel/UCmtLWJ66-hT9c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,muisback,muisback,2020-01-28 19:10:32.291000+00:00,2024-06-24 11:30:39.970000+00:00,https://lichess.org/@/muisback,True,False,False,False,1747.0,...,Rauf,Mamedov,NaN,True,True,Baku,2659.0,NaN,NaN,NaN
3,azzaro25,Azzaro25,2016-09-20 13:30:27.051000+00:00,2024-06-23 12:30:34.109000+00:00,https://lichess.org/@/Azzaro25,True,False,False,False,276.0,...,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN,NaN
4,rebeccaharris,RebeccaHarris,2016-09-01 04:22:24.530000+00:00,2024-06-24 02:50:18.673000+00:00,https://lichess.org/@/RebeccaHarris,True,False,False,False,1930.0,...,NaN,NaN,NaN,NaN,True,"Charlotte, NC",NaN,NaN,NaN,NaN

In [9]:
top10_bullet_df.columns

Index(['id', 'username', 'createdAt', 'seenAt', 'url', 'followable',
       'following', 'blocking', 'followsYou', 'perfs.ultraBullet.games',
       ...
       'profile.firstName', 'profile.lastName', 'streamer.youTube.channel',
       'perfs.ultraBullet.prov', 'perfs.chess960.prov', 'profile.location',
       'profile.fideRating', 'profile.links', 'profile.uscfRating', 'flair'],
      dtype='object', length=115)

In [10]:
# top 10 blitz detail data
top10_blitz_df = pd.DataFrame()
for i in top10_blitz["id"]:
    top10_blitz_df = pd.concat([top10_blitz_df, pd.json_normalize(client.users.get_public_data(i))], ignore_index=True)

top10_blitz_df.head()

,id,username,title,createdAt,seenAt,url,followable,following,blocking,followsYou,...,perfs.crazyhouse.rd,perfs.crazyhouse.prog,perfs.crazyhouse.prov,perfs.threeCheck.prov,perfs.ultraBullet.games,perfs.ultraBullet.rating,perfs.ultraBullet.rd,perfs.ultraBullet.prog,perfs.ultraBullet.prov,streamer.twitch.channel
0,cutemouse83,cutemouse83,GM,2019-12-16 16:44:45.030000+00:00,2024-06-23 20:30:35.404000+00:00,https://lichess.org/@/cutemouse83,True,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,dr-cro,Dr-CRO,GM,2019-06-22 14:14:03.867000+00:00,2024-06-24 12:16:22.066000+00:00,https://lichess.org/@/Dr-CRO,True,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,lintchevski_daniil,Lintchevski_Daniil,GM,2023-12-08 11:14:13.170000+00:00,2024-06-24 12:06:19.463000+00:00,https://lichess.org/@/Lintchevski_Daniil,True,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,athena-pallada,athena-pallada,GM,2020-03-20 09:26:30.527000+00:00,2024-06-24 12:05:03.371000+00:00,https://lichess.org/@/athena-pallada,True,False,False,False,...,265.0,41.0,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,may6enexttime,may6enexttime,GM,2020-04-03 14:17:21.928000+00:00,2024-06-24 09:21:58.491000+00:00,https://lichess.org/@/may6enexttime,True,False,False,False,...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# top 10 rapid detail data
top10_rapid_df = pd.DataFrame()
for i in top10_rapid["id"]:
    top10_rapid_df = pd.concat([top10_rapid_df, pd.json_normalize(client.users.get_public_data(i))], ignore_index=True)

top10_rapid_df.head()

,id,username,title,flair,createdAt,seenAt,url,followable,following,blocking,...,perfs.racingKings.prov,profile.firstName,profile.fideRating,profile.bio,profile.lastName,perfs.ultraBullet.prov,perfs.atomic.prov,perfs.puzzle.prov,playing,streamer.twitch.channel
0,drvitman,DrVitman,GM,activity.martial-arts-uniform,2016-03-28 16:36:43.269000+00:00,2024-06-23 16:56:48.197000+00:00,https://lichess.org/@/DrVitman,True,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mysterious_expert,mysterious_expert,IM,activity.lichess-berserk,2017-07-29 22:54:20.048000+00:00,2024-06-23 20:19:59.740000+00:00,https://lichess.org/@/mysterious_expert,True,False,False,...,True,Dimitar,2485.0,15 year old IM. Check out my chess improvement...,Mardov,NaN,NaN,NaN,NaN,NaN
2,roman_yanchenko,Roman_Yanchenko,FM,NaN,2019-05-05 04:46:53.491000+00:00,2024-06-24 12:21:26.819000+00:00,https://lichess.org/@/Roman_Yanchenko,True,False,False,...,True,Roman,2466.0,NaN,Yanchenko,True,True,True,NaN,NaN
3,tuzakli_egitim,Tuzakli_Egitim,FM,nature.dog-face,2020-11-05 09:53:44.496000+00:00,2024-06-24 09:40:12.980000+00:00,https://lichess.org/@/Tuzakli_Egitim,True,False,False,...,True,NaN,2272.0,NaN,NaN,NaN,True,NaN,NaN,NaN
4,kurald_galain,Kurald_Galain,NaN,NaN,2023-05-19 16:12:20.116000+00:00,2024-06-24 12:14:00.285000+00:00,https://lichess.org/@/Kurald_Galain,True,False,False,...,NaN,Anomander,NaN,Warren of Darkness and Elder Night,Rake,True,NaN,NaN,NaN,NaN

In [12]:
# top 10 classic detail data
top10_classic_df = pd.DataFrame()
for i in top10_classic["id"]:
    top10_classic_df = pd.concat([top10_classic_df, pd.json_normalize(client.users.get_public_data(i))], ignore_index=True)

top10_classic_df.head()

,id,username,title,flair,createdAt,seenAt,url,playing,followable,following,...,perfs.racingKings.games,perfs.racingKings.rating,perfs.racingKings.rd,perfs.racingKings.prog,perfs.racingKings.prov,profile.uscfRating,patron,perfs.bullet.prov,perfs.blitz.prov,perfs.rapid.prov
0,plemsovhoz,PlemSovhoz,IM,symbols.zzz,2018-06-02 22:29:36.807000+00:00,2024-06-24 12:21:33.149000+00:00,https://lichess.org/@/PlemSovhoz,https://lichess.org/LyMSiQ7m/white,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,vlad_lazarev79,Vlad_Lazarev79,NaN,NaN,2023-08-11 03:09:41.891000+00:00,2024-06-24 08:24:58.194000+00:00,https://lichess.org/@/Vlad_Lazarev79,NaN,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,kanake04,Kanake04,NaN,NaN,2023-03-02 18:07:49.505000+00:00,2024-06-23 21:21:43.554000+00:00,https://lichess.org/@/Kanake04,NaN,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ojaijoao,OjaiJoao,FM,food-drink.bell-pepper,2016-09-02 02:01:40.503000+00:00,2024-06-24 11:49:29.409000+00:00,https://lichess.org/@/OjaiJoao,NaN,True,False,...,20.0,1872.0,202.0,-3.0,True,2404.0,NaN,NaN,NaN,NaN
4,igormezentsev,igormezentsev,FM,NaN,2017-07-23 04:04:13.003000+00:00,2024-06-24 12:38:08.046000+00:00,https://lichess.org/@/igormezentsev,https://lichess.org/4A5DjYiT/white,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# top 10 ultra bullet detail data
top10_ultrabullet_df = pd.DataFrame()
for i in top10_ultrabullet["id"]:
    top10_ultrabullet_df = pd.concat([top10_ultrabullet_df, pd.json_normalize(client.users.get_public_data(i))], ignore_index=True)

top10_ultrabullet_df.head()

,id,username,title,flair,patron,createdAt,seenAt,url,followable,following,...,perfs.blitz.prov,perfs.rapid.prov,perfs.racer.runs,perfs.racer.score,perfs.streak.runs,perfs.streak.score,perfs.chess960.prov,perfs.threeCheck.prov,perfs.puzzle.prov,playing
0,penguingim1,penguingim1,GM,nature.penguin,True,2015-04-21 21:20:07.703000+00:00,2024-06-24 07:42:11.477000+00:00,https://lichess.org/@/penguingim1,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,blazinq,Blazinq,FM,NaN,NaN,2017-09-01 20:56:20.157000+00:00,2024-06-24 10:02:18.609000+00:00,https://lichess.org/@/Blazinq,True,False,...,True,True,1055.0,130.0,13.0,97.0,NaN,NaN,NaN,NaN
2,anonymousblitz,anonymousblitz,NaN,activity.lichess-berserk,NaN,2023-04-27 16:19:48.041000+00:00,2024-06-24 10:08:28.644000+00:00,https://lichess.org/@/anonymousblitz,True,False,...,NaN,True,23.0,110.0,NaN,NaN,NaN,NaN,NaN,NaN
3,liamputnam2008,LiamPutnam2008,FM,NaN,NaN,2020-04-09 02:33:49.564000+00:00,2024-06-24 06:24:28.992000+00:00,https://lichess.org/@/LiamPutnam2008,True,False,...,NaN,True,294.0,147.0,1.0,79.0,True,True,NaN,NaN
4,dir07,dIr07,NaN,symbols.anger-symbol,True,2024-06-16 15:44:07.912000+00:00,2024-06-24 12:20:13.882000+00:00,https://lichess.org/@/dIr07,True,False,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Function to get latest games in last 12 months

In [39]:
# last day of last month as last date 
last_date = datetime.today().replace(day=1) - timedelta(days=1) 

# date 12 months before
date_11_months_before = last_date - relativedelta(months=11)

# first day of the last 11 months as first date
first_date = date_11_months_before.replace(day=1)

start = berserk.utils.to_millis(first_date)
end = berserk.utils.to_millis(last_date)

top1classic_game = client.games.export_by_player(top10_classic["id"][0], since=start, until=end)
top1classic_game

In [40]:
games = list(_)
games[0]["createdAt"]

datetime.datetime(2024, 5, 30, 17, 19, 44, 267000, tzinfo=datetime.timezone.utc)

In [41]:
games[-1]["createdAt"]

datetime.datetime(2023, 6, 1, 17, 39, 31, 861000, tzinfo=datetime.timezone.utc)

In [44]:
game_id = games[0]["id"]
record1 = pd.json_normalize(client.games.export(game_id), max_level=1)
record1.T

                                                                 0
id                                                        WjhujFIv
rated                                                         True
variant                                                   standard
speed                                                       bullet
perf                                                        bullet
createdAt                         2024-05-30 17:19:44.267000+00:00
lastMoveAt                        2024-05-30 17:22:09.930000+00:00
status                                                   outoftime
source                                                        pool
winner                                                       black
moves            d4 g6 Bf4 Bg7 Nc3 Nf6 h4 d6 e4 O-O h5 Nxh5 Rxh...
clocks           [6003, 6003, 5939, 5955, 5899, 5923, 5851, 584...
players.white    {'user': {'name': 'Tanatov_2006', 'id': 'tanat...
players.black    {'user': {'name': 'PlemSovhoz', 'title': 'IM',...
opening.eco                                                    A40
opening.name                     Queen's Pawn Game: Modern Defense
opening.ply                                                      2
clock.initial                                                   60
clock.increment                                                  0
clock.totalTime                                                 60
division.middle                                                 17
division.end                                                    50

In [45]:
game_id2 = games[1]["id"]
record2 = pd.json_normalize(client.games.export(game_id2), max_level=1)
record2.T

                                                                 0
id                                                        XVHkGmfP
rated                                                         True
variant                                                   standard
speed                                                       bullet
perf                                                        bullet
createdAt                         2024-05-30 17:13:47.059000+00:00
lastMoveAt                        2024-05-30 17:15:59.867000+00:00
status                                                   outoftime
source                                                        pool
winner                                                       white
moves            e4 e5 Nf3 Nc6 Nc3 Nf6 d4 exd4 Nd5 Be7 Bc4 d6 N...
clocks           [6003, 6003, 5955, 5963, 5883, 5899, 5859, 589...
players.white    {'user': {'name': 'PlemSovhoz', 'title': 'IM',...
players.black    {'user': {'name': 'Calzonesdesuperman', 'id': ...
opening.eco                                                    C47
opening.name     Four Knights Game: Scotch Variation, Belgrade ...
opening.ply                                                      9
clock.initial                                                   60
clock.increment                                                  0
clock.totalTime                                                 60
division.middle                                                 20
division.end                                                    59