In [2]:
import pandas as pd 
import os
from dotenv import load_dotenv
import berserk
pd.get_option("display.max_colwidth", 200)
# load content of env
load_dotenv()

# load the token
lichess_token = os.getenv("my_token")

# using token 
session = berserk.TokenSession(lichess_token)
client = berserk.Client(session=session)

# get profile data from my personal account
mydata = client.users.get_public_data("Trequartistaa")
mydata_df = pd.json_normalize(mydata).transpose()
#print(mydata_df)

# history 
myhistoy = client.users.get_rating_history("Trequartistaa")
myhistoy_df = pd.json_normalize(myhistoy)
#print(myhistoy_df)

# top 10 
top10_players = client.users.get_all_top_10()
pd.json_normalize(top10_players)

,bullet,blitz,rapid,classical,ultraBullet,crazyhouse,chess960,kingOfTheHill,threeCheck,antichess,atomic,horde,racingKings
0,"[{'id': 'muisback', 'username': 'muisback', 'p...","[{'id': 'cutemouse83', 'username': 'cutemouse8...","[{'id': 'drvitman', 'username': 'DrVitman', 'p...","[{'id': 'plemsovhoz', 'username': 'PlemSovhoz'...","[{'id': 'penguingim1', 'username': 'penguingim...","[{'id': 'grxbullet', 'username': 'GRXbullet', ...","[{'id': 'zhigalko_sergei', 'username': 'Zhigal...","[{'id': 'zhigalko_sergei', 'username': 'Zhigal...","[{'id': 'zhigalko_sergei', 'username': 'Zhigal...","[{'id': 'lmaoooooooooooooooo', 'username': 'Lm...","[{'id': 'chrisrapid', 'username': 'chrisrapid'...","[{'id': 'rayholt', 'username': 'RayHolt', 'per...","[{'id': 'cybershredder', 'username': 'CyberShr..."

In [3]:
# top bullet 
top10_bullet = pd.json_normalize(top10_players, record_path="bullet").rename(columns={"perfs.bullet.rating" : "bullet_rating", "perfs.bullet.progress" : "bullet_progress"})
top10_bullet

,id,username,title,patron,bullet_rating,bullet_progress,online
0,muisback,muisback,GM,True,3208,-25,NaN
1,watneg,Watneg,GM,NaN,3176,16,True
2,penguingim1,penguingim1,GM,True,3174,9,NaN
3,tsoi_dima,Tsoi_Dima,FM,NaN,3163,1,NaN
4,night-king96,Night-King96,GM,True,3162,-3,NaN
5,mirakel05,Mirakel05,FM,NaN,3159,24,NaN
6,ediz_gurel,Ediz_Gurel,GM,NaN,3159,-11,NaN
7,heisenberg01,Heisenberg01,FM,NaN,3157,-22,NaN
8,aaryan_varshney,aaryan_varshney,FM,NaN,3153,3,True
9,aqua_blazing,Aqua_Blazing,NaN,NaN,3144,19,NaN

In [4]:
# top 10 blitz
top10_blitz = pd.json_normalize(top10_players, record_path="blitz").rename(columns={"perfs.blitz.rating" : "blitz_rating", "perfs.blitz.progress" : "blitz_progress"})
top10_blitz

,id,username,title,blitz_rating,blitz_progress,online
0,cutemouse83,cutemouse83,GM,2987,21,NaN
1,aspiringstar,aspiringstar,GM,2977,6,NaN
2,dr-cro,Dr-CRO,GM,2951,40,True
3,athena-pallada,athena-pallada,GM,2951,-15,NaN
4,ominous_octopus,ominous_octopus,NaN,2948,-27,NaN
5,kivurawnuru,Kivurawnuru,NaN,2935,21,NaN
6,temp006,temp006,GM,2935,2,NaN
7,toomanymanoevres,toomanymanoevres,NaN,2927,25,True
8,idabble,Idabble,NaN,2927,-7,NaN
9,howardxue,HowardXue,NaN,2922,10,NaN

In [5]:
# top 10 rapid
top10_rapid = pd.json_normalize(top10_players, record_path="rapid").rename(columns={"perfs.rapid.rating" : "rapid_rating", "perfs.rapid.progress" : "rapid_progress"})
top10_rapid

,id,username,title,rapid_rating,rapid_progress,patron,online
0,drvitman,DrVitman,GM,2947,17,NaN,NaN
1,unicorn7love,Unicorn7Love,IM,2887,8,True,True
2,jumpingknight20,jumpingknight20,NaN,2822,-25,NaN,NaN
3,tuzakli_egitim,Tuzakli_Egitim,FM,2815,0,NaN,True
4,afanoffun,afanoffun,CM,2803,8,NaN,True
5,kurald_galain,Kurald_Galain,NaN,2790,13,NaN,NaN
6,homabiorkro,HomabiorKro,NaN,2783,-25,NaN,NaN
7,savvavetokhin2009,SavvaVetokhin2009,IM,2782,44,True,True
8,kingslayer_999,KINGSLAYER_999,NaN,2765,16,NaN,NaN
9,roman_yanchenko,Roman_Yanchenko,FM,2764,61,NaN,True

In [6]:
# top 10 classic 
top10_classic = pd.json_normalize(top10_players, record_path="classical").rename(columns={"perfs.classical.rating" : "classic_rating", "perfs.classical.progress" : "classic_progress"})
top10_classic

,id,username,title,classic_rating,classic_progress,patron,online
0,plemsovhoz,PlemSovhoz,IM,2618,10,NaN,NaN
1,sharkfang,Sharkfang,NaN,2612,12,True,True
2,thepub,ThePuB,NaN,2492,4,NaN,NaN
3,uzkuzk,uzkuzk,NaN,2482,-14,NaN,NaN
4,kanake04,Kanake04,NaN,2471,25,NaN,True
5,konnov_oleg,Konnov_Oleg,NaN,2456,13,NaN,NaN
6,ojaijoao,OjaiJoao,FM,2450,1,NaN,NaN
7,vlad_lazarev79,Vlad_Lazarev79,NaN,2432,-21,NaN,True
8,likeyacutg,likeyacutg,NaN,2427,16,True,NaN
9,kc6,kc6,IM,2412,-5,NaN,True

In [7]:
top10_ultrabullet = pd.json_normalize(top10_players, record_path="ultraBullet")
top10_ultrabullet

,id,username,title,patron,perfs.ultraBullet.rating,perfs.ultraBullet.progress,online
0,penguingim1,penguingim1,GM,True,2633,12,NaN
1,iamstraw,iamstraw,GM,NaN,2595,18,NaN
2,ohanyaneminchess,OhanyanEminChess,GM,NaN,2542,18,NaN
3,dmitriychesser,Dmitriychesser,NaN,NaN,2541,14,NaN
4,bardyk01,Bardyk01,FM,NaN,2504,-24,NaN
5,blazinq,Blazinq,FM,NaN,2500,28,NaN
6,afanoffun,afanoffun,CM,NaN,2463,7,True
7,hyo_lee,hyo_lee,NaN,NaN,2446,1,NaN
8,tamojerry,tamojerry,FM,NaN,2436,-1,NaN
9,pantoef,Pantoef,NaN,NaN,2432,19,NaN

In [19]:
# top 10 bullet detail data
top10_bullet_df = pd.DataFrame()
for i in top10_bullet["id"]:
    top10_bullet_df = pd.concat([top10_bullet_df, pd.json_normalize(client.users.get_public_data(i))], ignore_index=True)

top10_bullet_df.head()

,id,username,title,patron,createdAt,seenAt,url,followable,following,blocking,...,perfs.racingKings.games,perfs.racingKings.rating,perfs.racingKings.rd,perfs.racingKings.prog,perfs.racingKings.prov,profile.uscfRating,profile.links,streamer.twitch.channel,streamer.youTube.channel,perfs.puzzle.prov
0,muisback,muisback,GM,True,2020-01-28 19:10:32.291000+00:00,2024-05-18 15:34:30.814000+00:00,https://lichess.org/@/muisback,True,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,watneg,Watneg,GM,NaN,2018-12-24 20:45:36.272000+00:00,2024-05-18 16:28:37.628000+00:00,https://lichess.org/@/Watneg,True,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,penguingim1,penguingim1,GM,True,2015-04-21 21:20:07.703000+00:00,2024-05-18 00:16:01.185000+00:00,https://lichess.org/@/penguingim1,True,False,False,...,450.0,2270.0,206.0,-117.0,True,2616.0,twitch.tv/penguingm1\r\n\r\nhttps://www.instag...,https://www.twitch.tv/penguingm1,https://www.youtube.com/channel/UCcJxY7NovRrYC...,NaN
3,tsoi_dima,Tsoi_Dima,FM,NaN,2023-10-07 11:19:21.747000+00:00,2024-05-18 05:48:58.149000+00:00,https://lichess.org/@/Tsoi_Dima,True,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,night-king96,Night-King96,GM,True,2018-02-20 23:43:20.589000+00:00,2024-05-18 15:57:22.364000+00:00,https://lichess.org/@/Night-King96,True,False,False,...,NaN,NaN,NaN,NaN,NaN,2678.0,https://www.youtube.com/channel/UCzrS9gbUErmO9...,https://www.twitch.tv/bortnykchess,https://www.youtube.com/channel/UCzrS9gbUErmO9...,True

In [20]:
top10_bullet_df.columns

Index(['id', 'username', 'title', 'patron', 'createdAt', 'seenAt', 'url',
       'followable', 'following', 'blocking',
       ...
       'perfs.racingKings.games', 'perfs.racingKings.rating',
       'perfs.racingKings.rd', 'perfs.racingKings.prog',
       'perfs.racingKings.prov', 'profile.uscfRating', 'profile.links',
       'streamer.twitch.channel', 'streamer.youTube.channel',
       'perfs.puzzle.prov'],
      dtype='object', length=116)

In [21]:
# top 10 blitz detail data
top10_blitz_df = pd.DataFrame()
for i in top10_blitz["id"]:
    top10_blitz_df = pd.concat([top10_blitz_df, pd.json_normalize(client.users.get_public_data(i))], ignore_index=True)

top10_blitz_df.head()

,id,username,title,createdAt,seenAt,url,followable,following,blocking,followsYou,...,perfs.crazyhouse.games,perfs.crazyhouse.rating,perfs.crazyhouse.rd,perfs.crazyhouse.prog,perfs.crazyhouse.prov,perfs.ultraBullet.games,perfs.ultraBullet.rating,perfs.ultraBullet.rd,perfs.ultraBullet.prog,perfs.threeCheck.prov
0,cutemouse83,cutemouse83,GM,2019-12-16 16:44:45.030000+00:00,2024-05-16 17:20:28.636000+00:00,https://lichess.org/@/cutemouse83,True,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aspiringstar,aspiringstar,GM,2022-06-18 04:11:21.387000+00:00,2024-05-13 04:04:48.356000+00:00,https://lichess.org/@/aspiringstar,True,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,dr-cro,Dr-CRO,GM,2019-06-22 14:14:03.867000+00:00,2024-05-18 15:57:08.042000+00:00,https://lichess.org/@/Dr-CRO,True,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,athena-pallada,athena-pallada,GM,2020-03-20 09:26:30.527000+00:00,2024-05-18 12:44:06.298000+00:00,https://lichess.org/@/athena-pallada,True,False,False,False,...,41.0,2090.0,262.0,41.0,True,NaN,NaN,NaN,NaN,NaN
4,ominous_octopus,ominous_octopus,NaN,2023-01-26 15:52:46.502000+00:00,2024-05-11 19:29:22.053000+00:00,https://lichess.org/@/ominous_octopus,True,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# top 10 rapid detail data
top10_rapid_df = pd.DataFrame()
for i in top10_rapid["id"]:
    top10_rapid_df = pd.concat([top10_rapid_df, pd.json_normalize(client.users.get_public_data(i))], ignore_index=True)

top10_rapid_df.head()

,id,username,title,flair,createdAt,seenAt,url,followable,following,blocking,...,profile.firstName,profile.fideRating,profile.bio,profile.lastName,perfs.racingKings.games,perfs.racingKings.rating,perfs.racingKings.rd,perfs.racingKings.prog,perfs.racingKings.prov,perfs.ultraBullet.prov
0,drvitman,DrVitman,GM,activity.martial-arts-uniform,2016-03-28 16:36:43.269000+00:00,2024-05-18 15:56:07.232000+00:00,https://lichess.org/@/DrVitman,True,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,unicorn7love,Unicorn7Love,IM,nature.zebra,2020-08-19 09:57:26.628000+00:00,2024-05-18 16:37:33.324000+00:00,https://lichess.org/@/Unicorn7Love,True,False,False,...,Илья,2412.0,Веду ютуб-канал. Тренер :) Вступайте в мой клу...,Чеклецов,NaN,NaN,NaN,NaN,NaN,NaN
2,jumpingknight20,jumpingknight20,NaN,objects.crown,2020-04-18 15:07:34.844000+00:00,2024-05-18 15:19:19.960000+00:00,https://lichess.org/@/jumpingknight20,True,False,False,...,IM Ethan,2423.0,"World's Youngest IM, Ethan Vaz from India.\r\n...",Vaz,NaN,NaN,NaN,NaN,NaN,NaN
3,tuzakli_egitim,Tuzakli_Egitim,FM,nature.dog-face,2020-11-05 09:53:44.496000+00:00,2024-05-18 16:45:23.054000+00:00,https://lichess.org/@/Tuzakli_Egitim,True,False,False,...,NaN,2272.0,NaN,NaN,29.0,1946.0,208.0,-5.0,True,NaN
4,afanoffun,afanoffun,CM,activity.sparkles,2022-07-12 17:29:30.094000+00:00,2024-05-18 16:38:52.699000+00:00,https://lichess.org/@/afanoffun,True,False,False,...,Daniil,2317.0,IsBack: https://lichess.org/team/is-back\r\n ...,Rakitin,19.0,1860.0,192.0,27.0,True,NaN

In [23]:
# top 10 classic detail data
top10_classic_df = pd.DataFrame()
for i in top10_classic["id"]:
    top10_classic_df = pd.concat([top10_classic_df, pd.json_normalize(client.users.get_public_data(i))], ignore_index=True)

top10_classic_df.head()

,id,username,title,flair,createdAt,seenAt,url,playing,followable,following,...,perfs.racingKings.games,perfs.racingKings.rating,perfs.racingKings.rd,perfs.racingKings.prog,perfs.racingKings.prov,perfs.puzzle.prov,profile.bio,profile.fideRating,profile.uscfRating,profile.links
0,plemsovhoz,PlemSovhoz,IM,symbols.zzz,2018-06-02 22:29:36.807000+00:00,2024-05-17 20:39:10.718000+00:00,https://lichess.org/@/PlemSovhoz,https://lichess.org/LyMSiQ7m/white,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,sharkfang,Sharkfang,NaN,nature.shark,2015-09-14 09:24:22.981000+00:00,2024-05-18 16:44:04.839000+00:00,https://lichess.org/@/Sharkfang,NaN,True,False,...,3.0,1229.0,322.0,0.0,True,NaN,NaN,NaN,NaN,NaN
2,thepub,ThePuB,NaN,symbols.sparkle,2021-04-25 12:25:28.689000+00:00,2024-05-18 11:05:39.503000+00:00,https://lichess.org/@/ThePuB,NaN,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,uzkuzk,uzkuzk,NaN,NaN,2019-02-04 00:08:23.706000+00:00,2024-05-18 05:40:52.008000+00:00,https://lichess.org/@/uzkuzk,NaN,True,False,...,NaN,NaN,NaN,NaN,NaN,True,All titled players and 2250+ lichess classical...,NaN,NaN,NaN
4,kanake04,Kanake04,NaN,NaN,2023-03-02 18:07:49.505000+00:00,2024-05-18 16:32:31.976000+00:00,https://lichess.org/@/Kanake04,NaN,True,False,...,NaN,NaN,NaN,NaN,NaN,True,чугунный четверик,NaN,NaN,NaN

In [24]:
# top 10 ultra bullet detail data
top10_ultrabullet_df = pd.DataFrame()
for i in top10_ultrabullet["id"]:
    top10_ultrabullet_df = pd.concat([top10_ultrabullet_df, pd.json_normalize(client.users.get_public_data(i))], ignore_index=True)

top10_ultrabullet_df.head()

,id,username,title,flair,patron,createdAt,seenAt,url,followable,following,...,perfs.rapid.prov,perfs.chess960.prov,perfs.threeCheck.prov,perfs.puzzle.prov,perfs.racer.runs,perfs.racer.score,perfs.streak.runs,perfs.streak.score,perfs.blitz.prov,playing
0,penguingim1,penguingim1,GM,nature.penguin,True,2015-04-21 21:20:07.703000+00:00,2024-05-18 00:16:01.185000+00:00,https://lichess.org/@/penguingim1,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,iamstraw,iamstraw,GM,NaN,NaN,2020-06-06 03:03:44.168000+00:00,2024-05-18 14:19:39.578000+00:00,https://lichess.org/@/iamstraw,True,False,...,True,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN
2,ohanyaneminchess,OhanyanEminChess,GM,symbols.exclamation-question-mark,NaN,2019-08-20 15:29:47.375000+00:00,2024-05-18 14:34:14.755000+00:00,https://lichess.org/@/OhanyanEminChess,True,False,...,NaN,True,True,NaN,94.0,115.0,2.0,42.0,NaN,NaN
3,dmitriychesser,Dmitriychesser,NaN,activity.ping-pong,NaN,2015-12-20 08:53:37.180000+00:00,2024-05-16 01:33:14.410000+00:00,https://lichess.org/@/Dmitriychesser,True,False,...,True,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
4,bardyk01,Bardyk01,FM,NaN,NaN,2020-12-25 14:22:59.785000+00:00,2024-05-18 15:47:24.989000+00:00,https://lichess.org/@/Bardyk01,True,False,...,True,NaN,True,NaN,668.0,127.0,10.0,70.0,NaN,NaN